@charset "UTF-8";
/* CSS Document */

.gamesOp {
	background-color:#666;
	color:#FC3;
	font-weight:bold;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.appear {
	background-color:#FC3;
	color:#000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	style="visibility:collapse";
}