@charset "UTF-8";
/* CSS Document */

body {
	background-color:#eee;
}


.headline {
	color:#1A1A1A;
	font-size:25px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.content {
	color:black;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.top{
	color:#FC3;
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	-user-select:none;
	-moz-user-select: none;
   	-khtml-user-select: none;
}
